#custom-signin-w-google-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 1px 5px 2px rgb(226, 225, 225);
    padding: 5px;
    transition: box-shadow 500ms ease-in-out, padding 300ms;
}

#custom-signin-w-google-btn:hover {
    box-shadow: 0 1px 15px 7px rgb(226, 225, 225);
}

#custom-signin-w-google-btn:active {
    padding: 8px 10px;
}